@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.break {
    flex-basis: 100%;
}

h2 {
    font-size: 2.5em;
}